---
import JavaScript from "../components/JavaScript.astro";
import Html from "../components/Html.astro";
import Css from "../components/Css.astro";
import Bootstrap from "./Bootstrap.astro";
import Mysql from "./Mysql.astro";

const TAGS = {
  HTML: {
    name: "Html",
    class: "bg-[#FAFAFA] text-black border-white/30",
    icon: Html,
  },
  CSS: {
    name: "Css",
    class: "bg-[#45C29E] text-black border-white/30",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#2B6CE7] text-white border-white/30",
    icon: JavaScript,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#893F84] text-white border-white/30",
    icon: Bootstrap,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#C2BDC2] text-black border-white/30",
    icon: Mysql,
  },
};
const PROJECTS = [
{
    title: "E-commerce Tierra Media",
    description:
      "E-commerce desarrollado como muestra de un comercio dedicado a la venta de productos de merchandising de diversas series, películas y videojuegos. Incluye un carrito de compras y es compatible con pasarelas de pagos como MERCADOPAGO. Además, facilita la respuesta a mensajes de contacto a través de la pestaña 'Contestar'.",
    link: "https://transcendent-fox-9b2652.netlify.app/",
    github: "https://github.com/mzadante/UTN_2023_4toSemestre/tree/main/JavaScript/e-comerce",
    image: "/proyects/e-comerce-tierra-media.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP, TAGS.MYSQL],
  },

  {
    title: "Encriptador de Palabras",
    description:
      "Encriptador de palabras, comenzando con front-end. Primer desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/Encriptador_de_Palabras/",
    github: "https://github.com/mzadante/Encriptador_de_Palabras",
    image: "/proyects/encriptador.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Juego del Ahorcado",
    description:
    "El juego del ahorcado, segundo desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/github.io.ahorcado/",
    github: "https://github.com/mzadante/github.io.ahorcado",
    image: "/proyects/ahorcado.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <div class="flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-col md:min-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-5">
        
    <a href={link} target="_blank"
            rel="noopener" >
      <img
      class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </a>
      <div class="flex flex-col justify-between p-4 leading-normal">
       
        <h3 class="text-2xl text-yellow-300 dark:text-yellow-200 mb-2 ">
          {title}
        </h3>
        <p class="text-white text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2 justify-center">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
          
        </ul>
        <a  href={github} target="_blank" rel="noopener">
          <img class="size-8" src="/proyects/github.svg" alt="Logo github"></a>
      </div>
    
</div>
  ))
}
