---
import JavaScript from "../components/JavaScript.astro";
import Html from "../components/Html.astro";
import Css from "../components/Css.astro";
import Bootstrap from "./Bootstrap.astro";
import Mysql from "./Mysql.astro";

const TAGS = {
  HTML: {
    name: "Html",
    class: "bg-[#FAFAFA] text-black border-white/30",
    icon: Html,
  },
  CSS: {
    name: "Css",
    class: "bg-[#45C29E] text-black border-white/30",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#2B6CE7] text-white border-white/30",
    icon: JavaScript,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#893F84] text-white border-white/30",
    icon: Bootstrap,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#C2BDC2] text-black border-white/30",
    icon: Mysql,
  },
};
const PROJECTS = [
{
    title: "E-commerce Tierra Media",
    description:
      "E-commerce de productos de merchandising de diversas series, películas y videojuegos. Incluye un carrito de compras y es compatible con pasarelas de pagos como Mercado Pago.",
    link: "https://transcendent-fox-9b2652.netlify.app/",
    github: "https://github.com/mzadante/UTN_2023_4toSemestre/tree/main/JavaScript/e-comerce",
    image: "/proyects/e-comerce-tierra-media.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP, TAGS.MYSQL],
  },

  {
    title: "Encriptador de Palabras",
    description:
      "Encriptador de palabras, comenzando con front-end. Primer desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/Encriptador_de_Palabras/",
    github: "https://github.com/mzadante/Encriptador_de_Palabras",
    image: "/proyects/encriptador.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Juego del Ahorcado",
    description:
    "El juego del ahorcado, segundo desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/github.io.ahorcado/",
    github: "https://github.com/mzadante/github.io.ahorcado",
    image: "/proyects/ahorcado.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Juego del Ahorcado",
    description:
    "El juego del ahorcado, segundo desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/github.io.ahorcado/",
    github: "https://github.com/mzadante/github.io.ahorcado",
    image: "/proyects/ahorcado.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Juego del Ahorcado",
    description:
    "El juego del ahorcado, segundo desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/github.io.ahorcado/",
    github: "https://github.com/mzadante/github.io.ahorcado",
    image: "/proyects/ahorcado.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Juego del Ahorcado",
    description:
    "El juego del ahorcado, segundo desafío Oracle Next Education dictado por Alura Latam. año 2022.",
    link: "https://mzadante.github.io/github.io.ahorcado/",
    github: "https://github.com/mzadante/github.io.ahorcado",
    image: "/proyects/ahorcado.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, github }) => (

  <div class="mb-3 bg-indigo-200 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
    <a href={link} target="_blank" rel="noopener">
      <img class="rounded-t-lg" src={image}alt={`Captura de pantalla del proyecto ${title}`} />
    </a>
    <div class="p-4 shadow-lg-white">
      <h5 class="p-1 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        <p class="p-2 mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
        <ul class="flex shadow-lg gap-x-1 gap-y-2 flex-row mb-5 p-1 h-1 justify-center flex-wrap ">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10 `}>
                <tag.icon class="size-4 " />
                {tag.name}
              </span>
            </li>
          ))}   
        </ul>
        <a href={github} target="_blank" rel="noopener" class="flex justify-center">
          <img class="size-8 bg-indigo-950 text-white rounded-lg shadow-lg mt-10" src="/proyects/github.svg" alt="Logo github"></a>
    </div>
  </div>
    


  ))
}

<style>
  
</style>